:root {
	--primaryColor: #FF9A03;
	--secondaryColor: #111;
	--textColor: #444;
    --textLightColor: #999;
	--borderColor: #ddd;
	--whiteColor: #fff;
	--transition01: .4s all; 
	--lightBg: #e4f3ff;
}

/* Common */
body {
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	color: var(--textColor);
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Urbanist", sans-serif;
}
a, a:hover {
	text-decoration: none;
}
.container {
    max-width: 1440px;
    padding-inline: 24px;
}
button:focus{
    outline: unset !important;
    box-shadow: none !important;
}
.btn {
    padding: 10.2px 28px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
	transition: var(--transition01);
}
.btnPrimary {
    background: var(--primaryColor);
    color: var(--secondaryColor);
}
.btnBlack {
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
}
.smallBtn {
    padding: 7px 12px;
    font-size: 14px;
}
.btnPrimary:hover {
	opacity: 0.8;
	color: var(--secondaryColor);
}
.btnBlack:hover {
    opacity: 0.8;
    color: var(--whiteColor);
}
.primaryColor {
	color: var(--primaryColor) !important;
}
.sectionPadding {
	padding-block: 70px;
}
.lightBg {
    background-color: var(--lightBg) !important;
}
.pageTitle {
    font-size:40px;
    font-weight:700;
}
.pageSubTitle {
    font-size:16px;
    font-weight:500;
}
img {
    max-width: 100%;
}
.fontWeight_600 {
    font-weight: 600;;
}


/* Header */
.siteHeader {
    padding-block: 10px;
	border-bottom: 1px solid var(--borderColor);
    background-color: var(--secondaryColor);
}
.siteHeader .navbar-brand {
    padding: 0;
}
.siteHeader .nav-item .nav-link {
    font-size: 16px;
    color: var(--whiteColor);
    font-weight: 600;
    padding-inline: 30px;
}
.siteHeader .nav-item .nav-link:hover {
    color: var(--primaryColor);
}

.siteHeader .dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
    top: calc(100% + 10px);
    width: 210px;
}
.siteHeader .dropdown-menu {
    padding: 0;
}
.siteHeader .dropdown-menu .dropdown-item {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    color: var(--secondaryColor);
    transition: var(--transition01);
}
.siteHeader .dropdown-menu .dropdown-item:hover {
    color: var(--primaryColor);
}
.siteHeader .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 0;
}
.siteHeader .dropdown-toggle {
    color: var(--whiteColor);
    cursor: pointer;
}

.siteHeader .dropdown-toggle .userName {
    background: var(--whiteColor);
    border-radius: 50%;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--secondaryColor);
}

/* Form Css */
.formContainer {
    max-width: 600px;
    margin: 0 auto;
}
.signUp_form .formContainer {
    max-width: 800px;
}
.whiteCard {
    box-shadow:0px 0px 24px 0 rgba(0,0,0,.2);
    padding:32px;
}
.formGroup {
    margin-bottom:20px;
}
.form-label {
    font-size:16px;
    font-weight:600;
    margin-bottom:4px;
}
.form-control {
    border-color:var(--borderColor);
    height:48px;
    border-radius:5px;
}
textarea.form-control {
    height: 120px;
}
.formLink {
    color:var(--secondaryColor);
    font-weight:600;
    font-size:16px;
    text-decoration:none;
}
.formLink:hover {
    text-decoration:underline;
    color:var(--primaryColor);
}

/* Book Driver */
.driverForm .formContainer {
    max-width: 1000px;
}
.addNumber p {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 5px;
}
.addNumber p span {
    border: 1px solid var(--borderColor);
    flex-basis: 45px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.addNumber p input {
    flex-basis: calc(100% - 100px);
    text-align: center;
}


/* Driver Card */
.driverCard {
    border: 1px solid #ddd;
    padding: 16px;
}
.cardTop {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
}
.driverImg {
    flex-basis: 80px;
    border-radius: 6px;
    overflow: hidden;
}
.driverDetail {
    flex-basis: calc(100% - 170px);
}
.driverName {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 3px;
    line-height: 1.4;
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    gap: 20px;
}
span.awayTime {
    font-size: 12px;
    color: #999;
}
span.awaydot {
    background: #49a936;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2px;
}
.driverNb {
    font-size: 16px;
    color: var(--textColor);
    font-weight: 500;
    line-height: 1.4;
}
.driverPrice {
    flex-basis: 64px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.driverDes {
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.4;
    color: var(--textLightColor);
}
.ratingWrap {
    color: var(--textColor);
    font-size: 15px;
}
.passangerLimit span {
    background: var(--primaryColor);
    display: inline-block;
    padding: 2px 9px;
    text-align: center;
    color: var(--secondaryColor);
    border-radius: 4px;
    font-weight: bold;
}


/* table */
table th, table td {
    font-size: 14px;
    vertical-align: middle;
    padding: 8px 10px;
}
table tbody tr:hover {
    background-color: var(--lightBg);
}
.rydelaneTable th {
    background: var(--lightBg);
    border: none;
}
.viewBtn {
    border:1px solid var(--primaryColor);
    width: 32px;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.routeDiv span {
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 4px;
}
.routeDiv p {
    height: 16px;
    border-left: 2px solid var(--borderColor);
    margin-left: 4px;
}

.status {
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 5px 12px;
}
.upcomingStatus {
    background: #093FA9;
}
.ongoingStatus {
    background: #cb6e2f;
}
.completedStatus {
    background: #398249;
}
.tableImg {
    object-fit: cover;
}


/* App Link Section */
.appLink_outer {
	display: flex;
	gap: 16px;
	margin-top: 40px;
    flex-flow: wrap;
    justify-content: center;
}
.appLink_btn {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    border-radius: 5px;
    width: 185px;
    justify-content: center;
    white-space: nowrap;
    text-align: left;
}
.appLink_btn i {
    font-size: 20px;
    color: #fff;
}
.appLink_btn span {
    font-size: 14px;
    color: #fff;
}

.hideDiv {
    display:none;
}
.hideDiv.open {
    display: block;
}
.inputRow {
    display: flex;
    align-items: center;
    gap: 10px;
}
.inputRow button {
    background: #f34242;
    color: #fff;
    height: 48px;
    width: 48px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* Footer */
.footerContent h4 {
    font-size: 20px;
    font-weight: 700;
	color: var(--secondaryColor);
	margin-bottom: 16px;
}

.footerContent ul {
    list-style: none;
}
.footerContent p {
    color: var(--textColor);
    font-size: 14px;
}
.footerContent ul a {
    color: var(--textColor);
    font-size: 14px;
    display: flex;
	align-items: center;
	gap: 10px;
    margin: 10px 0;
    transition: var(--transition01);
}
.footerContent ul a:hover {
    color: var(--primaryColor);
}

.footerContent .form-control {
    height: 46px;
    font-size: 14px;
	border-color: var(--borderColor);
}

button.sendBtn {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    background: var(--primaryColor);
	color: var(--whiteColor);
    position: absolute;
    right: 6px;
    top: 5px;
}

.copyright {
    border-top: 1px solid #ddd;
}
.copyright p {
    font-size: 14px;
    color: var(--textColor);
}


/* Content Pages */
.contentPage {
    max-width: 1050px;
    margin: 0 auto;
}
.contentPage h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondaryColor);
    margin-bottom: 8px;
}
.contentPage p {
    font-size: 16px;
    font-weight: 400;
    color: var(--textColor);
    margin-bottom: 16px;
}

@media (max-width: 1199.98px) {
    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
    .form-control {
        height: 42px;
        font-size: 14px;
    }
    .sectionPadding {
        padding-block: 50px;
    }
    .pageTitle {
        font-size: 32px;
        font-weight: 700;
    }
    .pageSubTitle, .form-label, .formLin, p {
        font-size: 15px;
    }
    .appLink_outer {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .siteHeader .navbar-toggler svg {
        width: 30px;
        height: 30px;
    }
    .siteHeader .navbar-toggler {
        padding: 0;
    }
    .siteHeader .navbar-collapse {
        position: absolute;
        background: rgb(255, 255, 255);
        width: 100%;
        top: 100%;
        left: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(221, 221, 221);
        border-top: 1px solid rgb(221, 221, 221);
    }
    .siteHeader  .headerBtn {
        margin-left: 30px !important;
    }
    .siteHeader .nav-item .nav-link {
        color: var(--secondaryColor);
    }
    .siteHeader {
        padding-block: 5px;
    }
    .pageTitle {
        font-size: 24px;
        font-weight: 700;
    }
    .pageSubTitle, .form-label, .formLink, p {
        font-size: 14px;
    }

    .headerBtn .btn {
        font-size: 14px;
        padding: 7px 10px;
    }
    
}
