:root {
	--primaryColor: #FF9A03;
	--secondaryColor: #111;
    --blackColor: #000;
	--textColor: #556677;
    --textLightColor: #999;
	--borderColor: #ddd;
	--whiteColor: #fff;
	--transition01: .4s all; 
	--lightBg: #e4f3ff;
    --greenColor: #45a359;
    --redColor: #f85252;
}

/* Common */
body {
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	color: var(--textColor);
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Urbanist", sans-serif;
}
a, a:hover {
	text-decoration: none;
}
.container {
    max-width: 1440px;
    padding-inline: 24px;
}
button:focus, input, .form-select{
    outline: unset !important;
    box-shadow: none !important;
}
.btn {
    padding: 10.2px 28px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
	transition: var(--transition01);
}
.btnPrimary {
    background: var(--primaryColor);
    color: var(--secondaryColor);
}
.btnBlack {
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
}
.btnWhite {
    background-color: var(--whiteColor);
    color: var(--secondaryColor);
}
.btnRed {
    background-color: var(--redColor);
    color: var(--whiteColor);
}
.smallBtn {
    padding: 7px 12px;
    font-size: 14px;
}
.btnWhite:hover {
    background-color: var(--whiteColor);
    color: var(--secondaryColor);
    opacity: 0.8;
}
.btnPrimary:hover {
	opacity: 0.8;
	color: var(--secondaryColor);
}
.btnBlack:hover {
    opacity: 0.8;
    color: var(--whiteColor);
}
.btnRed:hover {
    opacity: 0.8;
    color: var(--whiteColor);
}
.primaryColor {
	color: var(--primaryColor) !important;
}
.blackColor {
    color: var(--blackColor) !important;
}
.sectionPadding {
	padding-block: 70px;
}
.lightBg {
    background-color: var(--lightBg) !important;
}
.pageTitle {
    font-size:40px;
    font-weight:700;
    color: var(--secondaryColor);
}
.pageSubTitle {
    font-size:16px;
    font-weight:500;
    color: var(--textColor);
}
.textMd {
    font-size: 16px;
    color: var(--textColor);
}
.titleMd {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--secondaryColor);
}
img {
    max-width: 100%;
}
.fontWeight_600 {
    font-weight: 600;;
}
.wHalf {
    width: 50%;
}

/* Header */
.siteHeader {
    padding-block: 10px;
	border-bottom: 1px solid var(--borderColor);
    background-color: var(--secondaryColor);
}
.siteHeader .navbar-brand {
    padding: 0;
}
.siteHeader .nav-item .nav-link {
    font-size: 16px;
    color: var(--whiteColor);
    font-weight: 600;
    padding-inline: 30px;
}
.siteHeader .nav-item .nav-link:hover {
    color: var(--textColor);
}

.siteHeader .dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
    top: calc(100% + 10px);
    width: 210px;
}
.siteHeader .dropdown-menu {
    padding: 0;
}
.siteHeader .dropdown-menu .dropdown-item {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    color: var(--secondaryColor);
    transition: var(--transition01);
}
.siteHeader .dropdown-menu .dropdown-item:hover {
    color: var(--blackColor);
}
.siteHeader .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 0;
}
.siteHeader .dropdown-toggle {
    color: var(--whiteColor);
    cursor: pointer;
}
.siteHeader .dropdown-toggle .userName {
    background: var(--whiteColor);
    border-radius: 50%;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--secondaryColor);
}
.siteHeader .notification a {
    font-size: 20px;
    position: relative;
    color: var(--whiteColor);
    padding: 2px 32px 0 10px;
    display: inline-block;
}
.siteHeader .notification .notiDot {
    position: absolute;
    background: var(--greenColor);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 9px;
    right: 33px;
    border: 1px solid var(--whiteColor);
}

/* Banner */
.banner {
    background: url(/images/bannerImg.jpg);
    padding-block:160px;
    position: relative;
    display: flex;
    align-items: center;
}
.banner::after {
    background: rgba(255,255,255,0.85);
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.banner .container {
    position: relative;
    z-index: 2;
}
.banner h6 {
    font-weight: 600;
    font-size: 16px;
    color: var(--secondaryColor);
}
.banner h1 {
    font-size: 54px;
    font-weight: bold;
    color: var(--secondaryColor);
    margin: 12px 0 20px;
    line-height: 1.2;
}

/* Form Css */
.formContainer {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 24px;
}
.signUp_form .formContainer {
    max-width: 850px;
}
.whiteCard {
    box-shadow:0px 0px 24px 0 rgba(0,0,0,.2);
    padding:32px;
}
.formGroup {
    margin-bottom:20px;
}
.form-label {
    font-size:16px;
    font-weight:600;
    margin-bottom:4px;
}
.form-control, .form-select {
    border-color:var(--borderColor);
    height:48px;
    border-radius:5px;
}
textarea.form-control {
    height: 120px;
}
.formLink {
    color:var(--secondaryColor);
    font-weight:600;
    font-size:16px;
    text-decoration:none;
}
.formLink:hover {
    text-decoration:underline;
    color:var(--blackColor);
}

/* Book Driver */
.driverForm .formContainer {
    max-width: 1050px;
}
.addNumber p {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 5px;
}
.addNumber p span {
    border: 1px solid var(--borderColor);
    flex-basis: 45px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.addNumber p input {
    flex-basis: calc(100% - 100px);
    text-align: center;
}


/* Driver Card */
.driverCard {
    border: 1px solid #ddd;
    padding: 16px;
}
.cardTop {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
}
.driverImg {
    flex-basis: 80px;
    border-radius: 6px;
    overflow: hidden;
}
.driverDetail {
    flex-basis: calc(100% - 170px);
}
.driverName {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 6px;
    line-height: 1.4;
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 5px;
}
span.awayTime {
    font-size: 12px;
    color: #999;
}
span.awaydot {
    background: #49a936;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2px;
}
.driverNb {
    font-size: 16px;
    color: var(--textColor);
    font-weight: 500;
    line-height: 1.4;
}
.driverPrice {
    flex-basis: 64px;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: var(--secondaryColor);
}
.driverPrice span {
    color: var(--textColor);
    font-size: 12px;
}
.driverDes {
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.4;
    color: var(--textLightColor);
}
.ratingWrap {
    color: var(--textColor);
    font-size: 15px;
}
.passangerLimit span {
    background: var(--secondaryColor);
    display: inline-block;
    padding: 2px 9px;
    text-align: center;
    color: var(--whiteColor);
    border-radius: 4px;
    font-weight: bold;
}


/* Order */
table th, table td {
    font-size: 14px;
    vertical-align: middle;
    padding: 8px 10px;
}
table tbody tr:hover {
    background-color: var(--lightBg);
}
.rydelaneTable th {
    background: var(--lightBg);
    border: none;
    white-space: nowrap;
}
.rydelaneTable td {
    min-width: 100px;
}
.viewBtn {
    border:1px solid var(--borderColor);
    width: 32px;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.routeDiv span {
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 4px;
}
.routeDiv p {
    height: 16px;
    border-left: 2px solid var(--borderColor);
    margin-left: 4px;
}
.status {
    font-weight: 500;
    color: var(--whiteColor);
    border-radius: 5px;
    padding: 5px 12px;
}
.upcomingStatus {
    background: #093FA9;
}
.ongoingStatus {
    background: #cb6e2f;
}
.completedStatus {
    background: var(--greenColor);
}
.tableImg {
    object-fit: cover;
}
.orderfield {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    gap: 10px;
}
.orderFilter {
    width: 260px;
}
.orderFilter .form-select {
    flex-basis: 200px;
}
.orderSearch input {
    width: 260px;
}

/* Notification Page */
.notifcationPage .driverCard .btn {
    font-size: 14px;
    padding: 7px 16px;
}

/* Order Detail */
.orderDetail .container {
    max-width: 1100px;
}
.orderDetail .driverDetail {
    flex-basis: calc(100% - 100px);
}
.orderDetail .userDetail p {
    border-bottom: none;
    padding: 4px 0;
}

/* App Link Section */
.appLink_outer {
	display: flex;
	gap: 16px;
    flex-flow: wrap;
    justify-content: center;
}
.appLink_btn {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    border-radius: 5px;
    width: 185px;
    justify-content: center;
    white-space: nowrap;
    text-align: left;
}
.appLink_btn i {
    font-size: 20px;
    color: #fff;
}
.appLink_btn span {
    font-size: 14px;
    color: #fff;
}
.appLinkWrap p {
    max-width: 700px;
    margin: 0 auto;
}
.hideDiv, .carseatHide {
    display:none;
}
.hideDiv.open, .carseatHide.open {
    display: block;
}
.inputRow {
    display: flex;
    align-items: center;
    gap: 10px;
}
.inputRow button {
    background: var(--redColor);
    color: #fff;
    height: 48px;
    width: 48px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* Accordion Css */
.accordion {
    max-width: 1050px;
    margin: 0 auto;
}
.accordion-item {
    border: none;
    margin-bottom: 10px;
}
.accordion-button {
    background: var(--lightBg);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.accordion-button:not(.collapsed) {
    color: var(--secondaryColor);
    background-color: var(--lightBg);
    box-shadow: none;
}

/* About Us */
.checkList li {
    position: relative;
    padding-left: 20px;
    margin: 12px 0;
    font-size: 16px;
    color: var(--textColor);
}
.checkList li:last-child {
    margin-bottom: 0;
}
.checkList li::after {
    position: absolute;
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 8px;
    border-bottom: 3px solid var(--greenColor);
    border-right: 3px solid var(--greenColor);
    left: 0px;
    top: 4px;
}
.howItWork span {
    font-size: 54px;
    margin: 0 0 10px;
    display: inline-block;
    color: var(--secondaryColor);
    line-height: normal;
}
.howItWork p {
    max-width: 300px;
    margin: 0 auto;
}

/* Footer */
.footerContent h4 {
    font-size: 20px;
    font-weight: 700;
	color: var(--secondaryColor);
	margin-bottom: 16px;
}

.footerContent ul {
    list-style: none;
}
.footerContent p {
    color: var(--textColor);
    font-size: 14px;
}
.footerContent ul a {
    color: var(--textColor);
    font-size: 14px;
    display: flex;
	align-items: center;
	gap: 10px;
    margin: 10px 0;
    transition: var(--transition01);
}
.footerContent ul a:hover {
    color: var(--blackColor);
}

.footerContent .form-control {
    height: 46px;
    font-size: 14px;
	border-color: var(--borderColor);
}
.sendBtn {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    background: var(--secondaryColor);
	color: var(--whiteColor);
    position: absolute;
    right: 6px;
    top: 6px;
}
.copyright {
    border-top: 1px solid #ddd;
}
.copyright p {
    font-size: 14px;
    color: var(--textColor);
}

/* Content Pages */
.contentPage {
    max-width: 1050px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: var(--textColor);
}
.contentPage h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondaryColor);
    margin-bottom: 8px;
}
.contentPage p {
    font-size: 16px;
    font-weight: 400;
    color: var(--textColor);
    margin-bottom: 16px;
}
.contentPage ul{
    padding-left: 18px;
}

/* Profile */
.userImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
}
.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.userDetail p {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    font-size: 14px;
    color: var(--secondaryColor);
}
.fileInput {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--secondaryColor);
    position: absolute;
    bottom: 0;
    right: 10px;
}
.fileInput input[type="file"] {
    opacity: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    inset: 0
}
.fileInput span {
    position: absolute;
    top: 7px;
    color: var(--whiteColor);
    left: 9px;
    font-size: 14px;
    font-weight: bold;
}

/* Chat */
.chatSlide .offcanvas-header {
    border-bottom: 1px solid var(--borderColor);
}
.chatSlide .offcanvas-header h5 {
    color: var(--secondaryColor);
    font-weight: 700;
}
.chatPopup {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    background: var(--secondaryColor);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--whiteColor);
    font-size: 20px;
}
.chatSingl {
    display: flex;
    column-gap: 10px;
    flex-flow: wrap;
}
.chatSingl:not(:last-child) {
    margin-bottom: 10px;
}
.chatSingl .chatUser {
    background: var(--lightBg);
    height: 28px;
    flex-basis: 28px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.chatSingl p {
    flex-basis: calc(100% - 70px);
    font-size: 13px;
    background: var(--lightBg);
    padding: 8px 15px;
    border-radius: 0px 10px 10px 10px;
    color: var(--textColor);
}
.chatSingl .chatTimeAgo {
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
    text-align: right;
    width: 100%;
}
.chatSingl.chatOut {
    flex-direction: row-reverse;
}
.chatSingl.chatOut p {
    border-radius: 10px 0px 10px 10px;
    background-color: #abffbe;
}
.chatSingl.chatOut .chatUser {
    background: #abffbe;
}
.chatSendBtn {
    border-top: 1px solid var(--borderColor); 
}
